{% extends "_layout" %}
{% block content %}
    <h1>{{entry.type}}</h1>
    {% for element in entry.project %}
    <p>
        {% include "projects/_project/" ~ element.type %}
    </p>
    {% endfor %}
{% endblock %}