@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import "./projects.scss";
@import "./about.scss";
@import "./home.scss";
@import "./navBar.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: none;
}

body {
  background-color:$background;
  height: 100vh;
  font-family: "Muli", sans-serif;
  color: $text;
}

main {
  margin-top: 6em;
}

.content {
  width: 100vw;
}

.root {
  height: 100%;
}

.card-text {
  background: $background;
  padding: 2em;
  overflow: hidden;
}

h3 {
  color: $headers;
  margin-bottom: .5em;
  text-transform: uppercase;
  font-size: 1.25em;
}

h4 {
  margin-bottom: 1em;
}

p, span {
  font-size: .75em;
  line-height: 1.5em;
  letter-spacing: .1em;
  padding-bottom: 1em;
  font-weight: bold;
}

span {
  color: $accent;
  line-height: 1em;
}

p {
  color: $text-secondary;
}

.projects {
  width: 100%;
}

.projects ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  background: $background-secondary;
  width: 100%;
  padding-bottom: 2.5em;
} 

.text-container {
  display: flex;
  justify-content: space-evenly;
  max-height: 400px;
}

.responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.project-card {
  margin: 0 1em;
  padding: 2em 3em;
}

.project-card img {
  width: 100%;
  box-shadow: 0 10px 10px rgba(0,0,0,.12);
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  padding: 1em 0;
  margin-bottom: 2em;
}

.project-card img:hover {
  box-shadow: 0 30px 30px rgba(0,0,0,.25);
}

.project-header {
  margin-bottom: 1em;
}

.project-card ul {
  padding: 0;
}

.links li {
  padding: 0 0 .5em;
}

.links li a {
  color: $accent;
}

.gradient {
  margin: 1em 0;
  background: $text-secondary;
  width: 100%;
  height: .2em;
}

h1 {
  text-align: center;
  margin-top: 3em;
}