// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


$background: rgb(255,255,255);
$background-secondary: rgb(250,250,250);
$nav: rgb(250,250,250);
$text:rgb(0,0,0);
$text-secondary:rgb(75, 75, 75);
$headers:rgb(0,0,0);
$accent:#e85454;
