@import "./mixins.scss";

.projectCard {
    width: 200px;
    &__title {
        
    }

    &__img {

    }
}

@media only screen and (min-width: $screen-lg-min) {
    .project-card {
      margin: 0 80px;
      padding: 2em 100px;
    }
  
    .project-card img {
      margin: 0 1em 2em;
    }
  }