{% extends "_layout" %}
{% block content %}
        <div class="projectPage">
        <h1 class="projectPage__title">{{entry.slug}}</h1>
        {% for element in entry.project %}
        <p>
            {% include "work/_project/" ~ element.type %}
        </p>
        {% endfor %}
        </div>
{% endblock %}