<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- META VIEWPORT -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- TITLE -->
        <title>Christian Kastner | Seattle Software Engineer</title>

        <!-- DESCRIPTION -->
        <meta name="description" content="Frontend Software Engineer with a quantitative background, who loves building creative and interactive software">
        
        <!-- AUTHOR -->
        <meta name="author" content="Christian Kastner">

        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/ico" href="" />
        <!-- SCRIPTS -->

        {% includeCssFile "/assets/css/main.css" %}
        {% includeJsFile "/assets/js/index.js" %}
    </head>
    <body>
    <header>
          <img class="headerLogo" src="">
          <svg class="hamburger" id="menu-btn" viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="20"></rect>
            <rect y="30" width="100" height="20"></rect>
            <rect y="60" width="100" height="20"></rect>
          </svg>
          <nav id="nav">
          <ul class="navLinks">
              <li class="navLinks__item">
                  <a class="navLinks__item__link" href="{{ siteUrl }}">
                  Home
                  </a>
              </li>
              <li class="navLinks__item">
                  <a class="navLinks__item__link" href="{{ siteUrl }}about">
                  About
                  </a>
              </li>
              <li class="navLinks__item">
                  <a class="navLinks__item__link" href="{{ siteUrl }}work">
                  Work
                  </a>
              </li>
              <li class="navLinks__item">
                  <a class="navLinks__item__link" href="https://learn.co/concurrent-compressor-4752/resume" >
                  Resume
                  </a>
              </li>
              <li class="navLinks__item">
                  <a class="navLinks__item__link" href="https://www.linkedin.com/in/christian-kastner/" >
                  LinkedIn
                  </a>
              </li>
          </ul>
        </nav>
      </header>

    <main>
    {% block content %}

    {% endblock %}
    </main>
    <footer>
        <ul class="footerLinks">
            <li class="footerLinks__item">
                <a class="footerLinks__item__link" href="https://github.com/christiankastner" title="Github"><i class="fab fa-github"></i></a>
            </li>
            <li class="footerLinks__item">
                <a class="footerLinks__item__link" href="https://www.instagram.com/christianmkast/" title="Instagram"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="footerLinks__item">
                <a class="footerLinks__item__link"href="https://dev.to/ckastner12" title="Blog"><i class="fas fa-blog"></i></a>
            </li>
        </ul>
    </footer>

    </body>
</html>

