<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- META VIEWPORT -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- TITLE -->
        <title>Christian Kastner | Seattle Software Engineer</title>

        <!-- DESCRIPTION -->
        <meta name="description" content="Frontend Software Engineer with a quantitative background, who loves building creative and interactive software">
        
        <!-- AUOTHOR -->
        <meta name="author" content="Christian Kastner">

        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/ico" href="" />
        <!-- SCRIPTS -->
        <script src="{{ siteUrl }}/assets/index.js"></script>
        <link rel="stylesheet" href="{{ siteUrl }}/assets/style.css">
    </head>
    <body>

    {% block content %}
    
    {% endblock %}

    </body>
</html>

