{% extends "_layout" %}
  {% block content %}
  <div class="content">
      <section >
        <div class="landing">
          <div class="landing__card">
            <div class="landing__card__text">
                <h1>A Developer that cares about Design</h1>
                <p>Full stack web developer that specializes in working with developers and UX/UI designers</p>
            </div>
          </div> 
          <img class="landing__img" src="./assets/images/portrait.png" alt="line portrait"/> 
        </div>
      </section>
      <section >
        <div class="blurbCard" id="about-card">
        {# <img src="./assets/images/perlin.png" class="blurbCard__img" alt="flowing line art"/> #}
        {% set image = entry.image.first %}
        <div class="blurbCard__textContent">
          <h3 class="blurbCard__textContent__title">Hello, I'm Christian</h3>
          <p class="blurbCard__textContainer__text">{{ entry.paragraphText }}</p>
        </div>
        <div class="blurbCard__img">
          <img src="{{ image.url }}" alt="{{image.title}}" >
        </div>
        </div>
      </section>
    </div>
  {% endblock %}