{% extends "_layout" %}
{% block content %}
    {% if entry.type == "project" %}
        <div class="projectPage">
            <div class="projectPage__content">
                <div class="projectPage__content__text">
                <h1 class="projectPage__content__text__title">{{entry.title}}</h1>
                {{ entry.paragraphText }}
                </div>
                {% set image = entry.image.first %}
                <div class="projectPage__content__img">
                    <img src="{{ image.url }}" alt="{{ image.title }}" />
                </div>
            </div>
        </div>
    {% elseif entry.type == "sketch" %}
        
    {% endif %}
    
{% endblock %}