{% extends "_layout" %}
{% block content %}
    {% set myEntryQuery = craft.entries()
    .section('work')
    .limit(10)
     %}
    {% set entries = myEntryQuery.all() %}
    <div class="workContainer" >
        <ul class="workContainer__list">
        {% for item in entries %}
            <li class="workContainer__list__item">
                <a href="{{siteUrl}}work/{{item.slug}}">
                    <div class="projectCard">
                        {% include "work/_components/cards/" ~ item.type with item %}
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}