
{% for element in item.project %}
        {% if element.projectImage %}
                {% set image = element.projectImage.first %}
                <img src="{{ image.getUrl('thumb') }}" width="{{ image.getWidth('thumb') }}" height="{{ image.getHeight('thumb') }}">
                <h3>{{item.title}}</h3>
        {% endif %}
{% endfor %}